<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody *ngFor="let u of user">
            <tr>
                <td scope="row">{{u.name}}</td>
                <td>{{u.address}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.username}}</td>
            </tr>
        </tbody>
    </table>

</div>